*.xml
*.iml
*.log
*.apk

*.iml

.idea/
xls/
fodder/

poker_as/client/.idea/
poker_as/client/.laya/
poker_as/client/bin/
poker_as/client/libs/
poker_as/client/release/
poker_as/client/wxminibyscr/

poker_as/server/.idea/
poker_as/server/.laya/
poker_as/server/bin/
poker_as/server/libs/
poker_as/server/release/
poker_as/server/wxminibyscr/
